.link {
  text-decoration: none;
}

.card {
  background-color: #DCD0A8;
  /* border: 1px solid #4A9782; */
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  /* box-shadow: 0 0 10px rgba(59, 130, 246, 0.6); */
  color: white;
  margin: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #004030;
  font-size: 1.1rem;
  margin: 0;
}

.description {
  color: #4A9782;
  margin-top: 0.5rem;
}

.meta {
  text-align: center;
}

.answers {
  color: #4A9782;
  padding: 0.5rem;
  border: 1px solid #4A9782;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.user {
  font-size: 0.8rem;
  color: #004030;
}
