.filterBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
}

/* Desktop dropdown */
.desktopDropdown {
  display: block;
}

.desktopDropdown select {
  padding: 0.5rem 1rem;
  /* border: 1px solid #00ffff; */
  background: #FFF9E5;
  color: #004030;
  border-radius: 8px;
  font-size: 1rem;
}

/* Mobile hamburger */
.mobileHamburger {
  display: none;
  position: relative;
}

.menuIcon {
  color: #FFF9E5;
  cursor: pointer;
}

/* Dropdown for mobile */
.mobileMenu {
  /* position: absolute;
  top: 2.5rem;
  right: 0; */
  background: #111;
  border: 1px solid #004030;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
}

.mobileItem {
  padding: 0.7rem 1.2rem;
  border-bottom: 1px solid #004030;
  color: #004030;
  cursor: pointer;
  background: #111;
}

.mobileItem:hover,
.mobileItem.active {
  background-color: #004030;
}

/* Responsive rules */
@media (max-width: 768px) {
  .desktopDropdown {
    display: none;
  }
  .mobileHamburger {
    display: block;
  }
}
