.pagination {
  text-align: center;
  margin-top: 2rem;
}

.button {
  padding: 6px 12px;
  margin: 0 4px;
  border-radius: 4px;
  border: 1px solid #4A9782;
  background-color: transparent;
  color: #4A9782;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.active {
  background-color: #4A9782;
  color: white;
}
